.Todos {
  background-color: #1e1f2f;
  color: #eceff4;
  padding: 20px;
  min-height: calc(100vh - 75px);
  max-width: 1920px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 36px;
    color: #88c0d0;
    text-align: center;
    margin: 20px auto 30px;
    font-family: "Roboto", sans-serif;
  }

  &__input {
    margin-bottom: 20px;
    width: 750px;

    input {
      padding: 12px 15px;
      font-size: 24px;
      margin-right: 10px;
      border: 1px solid #333;
      border-radius: 8px;
      color: #eceff4;
      width: 550px;
      background-color: #10111b;

      &:focus {
        outline: none;
        border-color: #5e81ac;
      }
    }

    button {
      padding: 12px 15px;
      background-color: #5e81ac;
      color: white;
      border: none;
      width: 190px;
      font-size: 24px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #4c6a8f;
      }
      &:active {
        background-color: #4c566a;
      }
    }
  }

  &__item {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;

    p {
      background-color: #2e3440;
      color: #d8dee9;
      text-align: left;
      padding: 15px 20px;
      border-radius: 8px;
      min-width: 400px;
      max-width: 600px;
      font-size: 28px;
      margin: 10px 0;
      transition: background-color 0.3s ease, transform 0.2s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      word-break: break-word;
      overflow-wrap: break-word;

      &:hover {
        background-color: #4c566a;
        transform: translateY(-5px);
      }

      &:active {
        background-color: #3b4252;
      }
    }

    .done {
      text-decoration: line-through;
      color: #a3be8c;
      background-color: #3b4252;
      opacity: 0.6;
      transform: scale(0.95) translateX(-100px);
      filter: blur(1px);

      &:hover {
        background-color: #4c566a;
        transform: scale(0.95) translateX(-100px) translateY(-5px);
        filter: blur(0);
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      width: 225px;
      gap: 10px;

      .edit-button {
        padding: 12px 15px;
        font-size: 24px;
        background-color: #d88a1d;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
          background-color: #ff9500;
          transform: scale(1.05);
        }

        &:active {
          background-color: #8e5c17;
          transform: scale(0.95);
        }
      }

      .delete-button {
        padding: 12px 15px;
        font-size: 24px;
        background-color: #bf616a;
        color: white;
        width: 100px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
          background-color: #a15f68;
          transform: scale(1.05);
        }

        &:active {
          background-color: #9a3f4f;
          transform: scale(0.95);
        }
      }

      .toggle-checkbox {
        appearance: none;
        width: 35px;
        height: 35px;
        border: 2px solid #ccc;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        transition: background-color 0.2s, border-color 0.2s;
      }

      .toggle-checkbox:checked {
        background-color: #4caf50;
        border-color: #4caf50;
      }

      .toggle-checkbox:checked::after {
        content: "✔";
        display: block;
        font-size: 24px;
        color: white;
        text-align: center;
      }
    }
  }
}
